*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    height:100vh;
    width: 100vw;
    text-align: center;
    color: white;
}
a,h1,h2,h3{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
    text-decoration: none;
    margin:20px 2px;
    padding:0;
}
.maincontainer{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 0.3fr 1fr 1fr;
    grid-template-rows:0.1fr 2fr;
    grid-template-areas:
    "sidebar header header"
    "sidebar main main"
    "sidebar main main"
    "sidebar main main"
    "sidebar main main"
}
header{
    grid-area: header;
    background-color: #1e86fdec;
    padding:5px;
    border: solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    grid-area: sidebar;
    background-color: rgb(30, 12, 12);
    overflow-y: hidden;
    transition: all 0.5sec;
    -webkit-transition: all 0.5sec;
    height: 100vh;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
nav ul .flex li:hover{
    background: slategrey;
}
main{
    grid-area: main;
    background-color: rgb(48, 47, 47);
    height: 97%;
    width: 100%;
    padding: 0 7px;
    display: grid;
    grid-gap: 9px;
    overflow: hidden;
    grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 0.2fr 0.5fr 2.4fr 3fr;
    grid-template-areas: 
    "card7 card7 card7 card7"
    "card1 card3 card3 card4 "
    "card2 card3 card3 card4"
    "card5 card5 card6 card6"
}
.card1{
    grid-area: card1;
    background-color: #15dd9e;
    border-radius: 7px;
    height: 100%;
    width:100%;
}
.card2{
    grid-area: card2;
    background-color:rgb(59, 63, 91);
    border-radius: 7px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    
}
.card3{
    grid-area: card3;
    background-color: black;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.card4{
    grid-area: card4;
    background-color: #1e86fdec;
    border-radius: 7px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.card5{
    grid-area: card5;
    background-color: #0077ff;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.card6{
    grid-area: card6;
    background-color: black;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.card7{
    grid-area: card7;
    background-color: black;
    height: 100%;
    width:100%;
    text-align: left;
}
nav ul li{
    width: 100%;
    margin:25px 0;
    padding:0;
}
.card3 img{
    width:100%;
    max-height:85%;
}
.card5 img{
    width:100%;
    height:100%;
}
.card6 img{
    width:100%;
    height:100%;
}
.card2 img{
    width:100%;
    max-height:100%;
}

.num{
    font-size: 45px;
}
.check em{
    font-size: 17px;
}
.one{
    padding: 12px;
}
main div em{
    font-size: 25px;
    padding: 3px;
}
.card4 div{
    padding:20px;
}
header .searchbar{
    align-items: center;
}